// COLORS

$white: #ffffff;
$bcWhite: #ffffff;
$black: #000000;
$bcBlack: #000000;
// green
$greenLight: #9dcc5c;
$greenMedium: #9acc2d;
$greenDark: #90be2d;
// blue
$blue: #2980b9;
// gray
$grayDark: #333333;
$superLightGray: #fcfcfc;
// red
$red: #c0392b;


$mainTextClr: $grayDark;
$colorPrimary: $blue;

$colorError: $red;

// FONTS
$fontPrimary: 'Open Sans', sans-serif;
$defaultDontSize: 10px;

$FSExtraLarge: 5rem;
$FSLarge: 2.1rem;
$FSnormal: 1.6rem;

// SCREENS
$breakSuperLarge: 1690px;
$breakLarge: 1280px;
$breakMedium: 980px;
$breakSmall: 736px;
$breakSuperSmall: 460px;

$maxWidth: $breakLarge;









