*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html, body {
  color: $mainTextClr;
  background-color: $bcWhite;
  overflow-x: hidden;
}

*:focus { outline: none; }
ul { list-style: none; }
a { text-decoration: none; }
