<div class="page-content u-pageContent-ws">
  <h2 class="title title--large">BAVIMO SE UVOZOM, DISTRIBUCIJOM, INSTALACIJOM SOLARNIH SISTEMA.</h2>
  <hr class="hr hr--short hr--blue"/>
  <p>Rješavamo sve probleme nedostatka ili manjka električne energije kao i kompletnu nezavisnot o dobavljačima električne energije između ostaloga, možemo vam ponuditi:</p>
  <ul class="page-content__list">
    <li>Stručno savjetovanje</li>
    <li>Prodaju opreme</li>
    <li>Montažu opreme</li>
    <li>Puštanje u pogon autonomnih sistema</li>
    <li>Ispitivanje autonomnih sistema</li>
    <li>Održavanje</li>
  </ul>
</div>